<form action="/items" method="post">
  <label for="description">Enter Description:</label>
  <input id="description" name="description" type="text">

  <label for="length">Enter L:</label>
  <input id="length" name="length" type="text">

  <label for="width">Enter W:</label>
  <input id="width" name="width" type="text">

  <label for="height">Enter H:</label>
  <input id="height" name="height" type="text">

  <label for="weight">Enter Weight:</label>
  <input id="weight" name="weight" type="text">

  @* <label for="price">Price:</label>
  <input id="price" name="price" type="text"> *@


  <button type="submit">Submit</button>
</form>